<!DOCTYPE>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>
        Health Assessment
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Health Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div> -->
    </nav>
    <div class='container-fluid'>
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" id="cluster-insights-button">
                            <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            K Stats <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>      
                </div>
            </nav>
            <div class="col-md-9">
            <h2>Bins</h2>
            <div class="row">
                <div class="col-md-4">
                    <div id="chart1">
                    </div>
                </div>
                <div class="col-md-4">
                        <div id="chart2">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart3">
                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div id="chart4">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart5">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart6">
                            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                        <div id="chart7">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart8">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart9">
                            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                        <div id="chart10">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart11">
                            </div>
                </div>
                <div class="col-md-4">
                        <div id="chart12">
                            </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                        <h2>KS Value</h2>
                        <div class="table-responsive">
                          <table class="table table-striped table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Feature</th>
                                <th>KS Value</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Average Days To Close</td>
                                    <td>18.636541</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Billing</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>CSM Opinion</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>CSS Opinion</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Close Rate</td>
                                    <td>-7.185447</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Create Offer Tool</td>
                                    <td>29.146973</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>GM Tenure</td>
                                    <td>2.498819</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Last Visit</td>
                                    <td>21.415999</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Lost Sales</td>
                                    <td>30.274088</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>NPS</td>
                                    <td>2.294849</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Pricing</td>
                                    <td>18.063972</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Tenure</td>
                                    <td>35.273631</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            google.load('visualization', '1.0', {
                'packages': ['corechart']
            });
            google.setOnLoadCallback(drawChart);

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function drawChart() {
                var data1 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 0.0]", 0.814889],["(0.0, 80.0]", 5.986653],["(80.0, 85.0]", 5.664790],["(85.0, 95.0]", 5.268254],["(95.0, inf]", 4.878013]]);
                var data2 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, inf]", 1]]);
                var data3 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, inf]", 1]]);
                var data4 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, inf]", 1]]);
                var data5 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 30.0]", 1.336430],["(30.0, 33.0]", 0.350328],["(33.0, 60.0]", 1.524724],["(60.0, 66.0]", 0.423883],["(66.0, inf]",1.047356]]);
                var data6 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["-inf, 1.0]",0.662000],["(1.0, 61.53]",2.716772],["(61.53, inf]",1.965051]]);
                var data7 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 0.0]",0.975860],["(0.0, 30.0]",1.965767],["(30.0, inf]",3.697021]]);
                var data8 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 1.0]",0.769373],["(1.0, 10.0]",1.807734],["(10.0, 70.0]",5.147145],["(70.0, inf]",2.600356]]);
                var data9 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 1.0]",0.650036],["(1.0, 40.0]",2.752998],["(40.0, inf]",2.556472]]);
                var data10 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 0.0]",0.977638],["(0.0, 50.0]",2.573573],["(50.0, inf]",1.508088]]);
                var data11 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 60.0]",0.739231],["(60.0, 66.0]",0.415377],["(66.0, 80.0]",1.718245],["(80.0, 90.0]",0.812783],["(90.0, inf]",1.962321]]);
                var data12 = google.visualization.arrayToDataTable([['Bin', 'Lift'],["(-inf, 10.0]",0.584233],["(10.0, 80.0]", 3.113952],["(80.0, inf]",2.333151]]);

                var options1 = {
                    title: 'Avg Days to Close',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options2 = {
                    title: 'Billing',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options3 = {
                    title: 'CSM Opinion',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options4 = {
                    title: 'CSS Opinion',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options5 = {
                    title: 'Close Rate',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options6 = {
                    title: 'Create Offer Tool',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options7 = {
                    title: 'GM Tenure',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options8 = {
                    title: 'Last Visit',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options9 = {
                    title: 'Lost Sales',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options10 = {
                    title: 'NPS',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };

                var options11 = {
                    title: 'Pricing',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };
                
                var options12 = {
                    title: 'Tenure',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    }
                };


                var chart1 = new google.visualization.Histogram(document.getElementById('chart1'));
                var chart2 = new google.visualization.Histogram(document.getElementById('chart2'));
                var chart3 = new google.visualization.Histogram(document.getElementById('chart3'));
                var chart4 = new google.visualization.Histogram(document.getElementById('chart4'));
                var chart5 = new google.visualization.Histogram(document.getElementById('chart5'));
                var chart6 = new google.visualization.Histogram(document.getElementById('chart6'));
                var chart7 = new google.visualization.Histogram(document.getElementById('chart7'));
                var chart8 = new google.visualization.Histogram(document.getElementById('chart8'));
                var chart9 = new google.visualization.Histogram(document.getElementById('chart9'));
                var chart10 = new google.visualization.Histogram(document.getElementById('chart10'));
                var chart11 = new google.visualization.Histogram(document.getElementById('chart11'));
                var chart12 = new google.visualization.Histogram(document.getElementById('chart12'));
                
                chart1.draw(data1, options1);
                chart2.draw(data2, options2);
                chart3.draw(data3, options3);
                chart4.draw(data4, options4);
                chart5.draw(data5, options5);
                chart6.draw(data6, options6);
                chart7.draw(data7, options7);
                chart8.draw(data8, options8);
                chart9.draw(data9, options9);
                chart10.draw(data10, options10);
                chart11.draw(data11, options11);
                chart12.draw(data12, options12);
            }
        })
    </script>
</body>

</html>