<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>
        Health Assessment
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Health Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class='container-fluid'>
        <div class="row">
            <div class="mx-auto p-4" style="width:80%;" id="availabilityChart">
            </div>
        </div>
        <div class="row mb-3">
            <div class="shadow border border-white p-3 col-md-6 text-left rounded">
                <p>
                    ID Column: Account ID<br> Churn Date: Inactivation Date<br> Snapshot Date: Snapshot Date<br> Target Field: Status<br>
                </p>
            </div>
            <div class="shadow border border-white p-3 col-md-6 text-left rounded">
                <p>
                    History File: history_2000.csv<br> Outcome Data: outcome_date.csv<br> Account Details: company.csv<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto p-4" style="width:80%;" id="stackChart">
            </div>
        </div>
        <div class="row">
            <div class="shadow p-3 mb-5 col-md-12 text-center">
                <div class="" style="width:100%;">
                    <button type="submit" class="btn btn-primary" id="goToMetricPage">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            google.load('visualization', '1.0', {
                'packages': ['corechart']
            });
            google.setOnLoadCallback(getAvailabilityData);
            google.setOnLoadCallback(getChurnData);

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function drawChart(dataTable) {
                var data = google.visualization.arrayToDataTable(dataTable);

                var options = {
                    title: 'Data Availability',
                    subtitle: 'Available Data For Each Features',
                    curveType: 'function',
                    legend: {
                        position: 'right'
                    },
                    animation: {
                        duration: 1000,
                        startup: true,
                        easing: 'in'
                    },
                    chartArea: {
                        left: 90,
                        top: 20,
                        bottom: 30
                    },
                    width: 1600,
                    height: 560
                };

                var chart = new google.visualization.LineChart(document.getElementById('availabilityChart'));
                chart.draw(data, options);
            }

            function getChurnData() {
                var data = google.visualization.arrayToDataTable([
                    ['Year-Month', 'Active', 'Inactive', {
                        role: 'annotation'
                    }],
                    ['2016-11', 69, 3, ''],
                    ['2016-12', 85, 2, ''],
                    ['2017-1', 83, 5, ''],
                    ['2017-2', 76, 4, ''],
                    ['2017-3', 77, 9, ''],
                    ['2017-4', 89, 3, ''],
                    ['2017-5', 111, 4, ''],
                    ['2017-6', 134, 3, ''],
                    ['2017-7', 151, 5, ''],
                    ['2017-8', 138, 6, ''],
                    ['2017-9', 119, 5, ''],
                    ['2017-10', 155, 9, ''],
                    ['2017-11', 92, 12, ''],
                ]);

                var options = {
                    chartArea: {
                        left: 90,
                        top: 20,
                        bottom: 30
                    },
                    width: 1600,
                    height: 360,
                    legend: {
                        position: 'right',
                        maxLines: 3
                    },
                    bar: {
                        groupWidth: '75%'
                    },
                    isStacked: true
                };

                var chart = new google.visualization.ColumnChart(document.getElementById("stackChart"));
                chart.draw(data, options);
            }

            function getAvailabilityData() {
                $.ajax({
                    type: 'get',
                    url: '/health/availability/' + getCookie("run_id"),
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        let plotData = [];
                        let cols;

                        for (year in data) {
                            for (month in data[year]) {
                                cols = Object.keys(data[year][month]);
                                break;
                            }
                        }
                        cols = ["Year"].concat(cols);
                        plotData.push(cols);

                        for (year in data) {
                            for (month in data[year]) {
                                var temp = [];
                                temp.push(year + "/" + month);
                                for (let i = 1; i < cols.length; i++) {
                                    temp.push(data[year][month][cols[i]]);
                                }
                                plotData.push(temp);
                            }
                        }
                        drawChart(plotData);
                    }
                });
            }

            $("#goToMetricPage").click(function() {
                window.location = "/health/metrics-assessment/" + getCookie("run_id")
            })
        })
    </script>
</body>

</html>